body {
    background-color:#14184e;
    font-family: Montserrat, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.logo {
    padding-left: 4%;
    height: 50px;
    position:absolute;
    top: 1.5%;
}

header {
    background-color: #5836db;
    color: #fff;
    padding: 10px 0;
    height: 50px;
}

nav#navbar ul {
    padding: 0;
    list-style: none;
    text-align: right;
    margin-right: 7%;
    margin-top: 0.8%;
}

nav#navbar ul li {
    display: inline;
}

nav#navbar ul li a {
    font-size: 22px;
    color: white;
    padding: 8px;
    text-decoration: none;
}

main {
    padding: 10%;
}

footer {
    background: #5836db;
    color: white;
    text-align: center;
    padding: 10px 0;
    position:unset;
    bottom: 0;
    width: 100%;
}


.giris {
    position: absolute;
    z-index: 1;
    padding-left: 6%;
    height: 10%;
    top: 33%;
    
}

.heading {
    color: white;
    font-size: 80px; 
    font-weight: bold; 
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
}

.aciklama {
    font-size: 30px; 
    background: -webkit-linear-gradient(180deg, white,#afa5d8); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    color: transparent;
    font-weight: bold; 
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    padding-left: 0.5%;
}
#home {
  clip-path: url(#cache);
}

#red {
  fill: none;
  stroke: white;
  stroke-width: 12;
  stroke-miterlimit:10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
}

#blue {
  fill: none;
  stroke: gray;
  opacity: 0.3;
  stroke-width: 12;
  stroke-miterlimit:10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#light-blue {
  fill: none;
  opacity: 0.3;
  stroke: #5836db;
  stroke-width: 6;
  stroke-miterlimit:10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;    
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
 }
    }

@keyframes show {
  0% {
    opacity: 0.15;
 }
  50% {
    opacity: 0.2;
 }
  100% {
    opacity: 0.15;
 }
    }


.background {
    z-index: -1;
    padding: 0;
}

