.logo {
  padding-left: 4%;
  height: 8vh;
  position: absolute;
  top: 2vh
}

header {
  background-color: #5736db48;
  color: #fff;
  padding: 2vh 0;
  height: 6.7vh;
  width: 100%;
}

nav#navbar ul {
  list-style: none;
  text-align: right;
  margin-right: 4%;
  margin-top: 2vh;
}

nav#navbar ul li {
  display: inline;
}

nav#navbar ul li a:hover {
  color: #14184e;
}


nav#navbar ul li a {
  font-size: 3.5vh;
  color: white;
  padding: 1vh;
  text-decoration: none;
}

main {
  padding: 6% 6% 0 6%;
}

footer {
  background: #5736db48;
  color: white;
  text-align: center;
  padding: 2vh 0;
  width: 100%;
  position: relative;
  bottom: 0;
}

body {
  background: linear-gradient(-45deg, #1d2370, #6e3788, #14184e, #5d1a7c);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 70vw;
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


@media only screen and (max-width:800px) {
  nav#navbar ul {
    display: none;
  }
}

button {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  border-radius: .25rem;
  padding-left: 25px;
  padding-right: 25px;
  color: #14184e;
  -webkit-clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  height: 4rem;
  line-height: 14px;
  letter-spacing: 1.2px;
  transition: .2s .1s;
  background-image: linear-gradient(45deg, white, #afa5d8);
  border: 0 solid;
  overflow: hidden;
}

button:hover {
  cursor: pointer;
  transition: all .3s ease-in;
  padding-right: 30px;
  padding-left: 30px;
}

.container {
  color: #fff;
  font-size: larger;
}

.footerlogo {
  height: 8vw;
  width: auto;
}